<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->

  {% if page.profile %}
  <li>
      <a href="https://www.acmicpc.net/user/marona" itemprop="sameAs" rel="nofollow noopener noreferrer">
       <!-- <svg class="icon" type="/assets/svg/boj.svg" aria-hidden="true"></svg>-->
        <!-- <object type="image/svg+xml" data="/assets/svg/boj.svg" class="icon">현재 브라우저는 iframe을 지원하지 않습니다.</object>-->
        <img class="icon" src="/assets/svg/boj.svg"> BOJ
  
      </a>
    </li>
  <li>
      <a href="http://codeforces.com/profile/marona" itemprop="sameAs" rel="nofollow noopener noreferrer">
        <img class="icon" src="/assets/svg/codeforces.svg"> codeforces
      </a>
    </li>
{%endif%}